body {
    width: 100%;
    height: 100%;

    .header {
        height: 720px;
        position: relative;
    }

    .profileHeader {
        width: 100%;
        position: absolute;
        top: 40%;
    }

    @keyframes bouncing {
        from, to { transform: scale(1, 1); }
        25% { transform: scale(0.9, 1.1); }
        50% { transform: scale(1.1, 0.9); }
        75% { transform: scale(0.95, 1.05); }
    }

    .waviy {
        position: relative;
        -webkit-box-reflect: below -20px linear-gradient(transparent, #00000020);
        font-size: 4rem;
        padding-bottom: 1.5rem;
        letter-spacing: -.3rem;
    }

    .waviy span {
        position: relative;
        display: inline-block;
        font-weight: 800;
        color: #fff;
        animation: waving 1.3s infinite;
        animation-delay: calc(.1s * var(--i));
    }

    @keyframes waving {
        0%,50%,100% {
            transform: translateY(0)
        }

        30% {
            transform: translateY(-20px)
        }
    }

    .profileHeader p {
        font-size: 1.1rem;
        line-height: 1.7rem;
        font-style: italic;
        font-weight: 700;
        color: white;
    }

    .trigger {
        color: #1e41a3;
        font-size: 1.4rem;
    }

    #favourite-things-list {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #fav-template {
        padding: 100px;
    }

    .thumbnail img {
        width: 23rem!important;
        height: auto;
        cursor: pointer;
        transition: all .2s ease;
    }

    .thumbnail img:hover {
        filter: brightness(70%);
    }

    .detailBox {
        width: 23rem;
    }

    @keyframes float {
        0% {
            transform: translateY(0px) rotatez(0deg);
        }

        40% {
            transform: translateY(-10px) rotatez(10deg);
        }

        70% {
            transform: translateY(10px) rotatez(-10deg);
        }

        100% {
            transform: translateY(0px) rotatez(0px);
        }
    }

    .fav-title {
        margin-top: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }

    .fav-data {
        padding-top: .2rem;
    }

    .fav-panel {
        margin: 0 1rem 3rem 1rem;
    }

    .btn {
        border: 0;
        border-radius: 13px;
        background: white;
        color: black;
        padding: 10px 30px;
        outline: none;
        display: inline-block;
        font-size: 24px;

        &:hover {
            background-color: #2a2a2a;
        }

        &:active {
            background: pink;
        }
    }

    .content {
        margin: 30px auto 40px;
        padding: 30px;
        background-color: white;
        color: black;
        width: 400px;

        opacity: 0%;
        visibility: hidden;

        transition: all .3s cubic-bezier(0.335, 0.01, 0.03, 1.36);
        position: relative;
        top: -13;

        &.open {
            opacity: 1;
            visibility: visible;
        }
    }
    
    .fav-details {
        width: 30rem;
        height: auto;
        border-radius: 5%;
        background-color: white;
        color: black;
        padding: 10rem;
    }

    .detail-title {
        font-weight: 900;
        font-size: 2rem;
    }

    .modalBtn{
        color: white;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #section .modalBtn h1{
        text-align: center;
        font-size: 50px;
        font-family: sans-serif;
        margin: 40px;
        text-transform: capitalize;
    }
    
    #section .modalBtn button{
        margin: 0 auto;
        height: 120px;
        width: 500px;
        background: #5454ff;
        border: none;
        border-radius: 6px;
        font-size: 25px;
        color: #000;
        cursor: pointer;
    }

    #popupBox {
        position: relative;
        margin-bottom: 8rem;
    }

    .clickImg {
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    .favThings h2 {
        font-weight: 300;
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    .modal-parent{
        position: fixed;
        top: -18%;
        left: 0;
        height: auto;
        width: 100%;
        display: none;
    }

    .modal{
        display: flex;
        flex-direction: row;
        justify-content: center;

        background-color: white;
        width: 80%;
        height: 50%;
        padding: 3rem;

        border-radius: 1rem;

        position: absolute;

        top: 30%;
        left: 20%;
        transform: translate(-10%, -10%);

        font-size: 1.2rem;

        position: relative;
        animation: .5s drop;
        margin-bottom: 100px;
        box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0, 0, 0, 0.20);
    }

    .detailBox {
        padding: 1rem 2rem;
    }

    .modal section h2 {
        margin: 1rem auto;
        font-weight: 500;
        color: #1e41a3;
        padding: 7px 10px;
    }

    .modal section h3, .modal section p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .modal section h3 {
        font-style: italic;
        font-weight: 700;
        padding-bottom: .2rem;
    }

    @keyframes drop {
        0%{
            top: -100px;
        }
        100%{
            top: 30%;
        }
    }
    
    .closing {
        position: absolute;
        background-color: #1e41a3;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        right: 20px;
        top: 2.5%;
        padding-top: 3px;
        font-size: 36px;
        color: white;
        cursor: pointer;
        transition: all .2s ease-in;
    }

    .closing:hover {
        background-color: white;
        color: #1e41a3;
        box-shadow: .2rem .2rem 5px #1e41a330;
    }
    
    #section{
        transition: 2s;
    }
}